body {
    background-color: aquamarine;
    font-size: 18px;
}

h1 {
    font-size: 150px;
    background-color: green;
    color: white;
}

p {
    font-size: 35px;
    background-color: white;
    color: purple;
}